=square-size ($w)
  width: $w
  height: $w

=stretch
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: auto

$bg: #D7A940
$red: #D74B41
$blue: #5C7ED7


html, body
  padding: 0
  margin: 0
  width: 100%

body
  background: $bg

h1, h2
  font-family: 'Roboto Slab', sans-serif
  font-weight: 700
  font-size: 6em
  text-align: center
  color: white

h2
  font-size: 2em
  color: darken($bg, 25%)

  span
    width: 3em
    display: inline-block

div
  margin: 4em 0
  text-align: center
  width: 49%
  display: inline-block

a
  display: inline-block
  +square-size (9em)
  padding: 2em
  background: $red
  text-align: center
  border-radius: 100%
  position: relative
  transition: all 0.2s linear
  opacity: 0.7
  box-sizing: border-box
  margin: 0.2em
  border-color: white

  &.choosing, &.active
    border: solid 0.5em white

    img
      +square-size (5.5em)

  &.choosing
    border: none

  img
    +stretch
    +square-size (4em)
    transition: all 0.2s linear

  .you &
    background: $blue
    opacity: 1
    cursor: pointer

    &:hover
      img
        +square-size (5.5em)

